@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-dark: #000;
  --gold: #bdae82;
  --white: #fff;
  --matte-black: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

.header,
.hero,
.skills,
.portfolio,
.video,
.price,
.contacts,
.footer {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  color: var(--white);
}

.hero,
.skills,
.portfolio,
.video,
.price,
.contacts,
.footer {
  background: var(--bg-dark);
  -webkit-transition: background 0.5s ease-in-out 0s;
  transition: background 0.5s ease-in-out 0s;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 20px 0;
}

@media (max-width: 1024px) {
  .container {
    padding: 80px 0 0;
  }
}

.title {
  position: relative;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0em;
  color: var(--gold);
  max-width: 700px;
  width: 100%;
  height: 80px;
  margin: 0 auto 60px;
}

.title h2 {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  background: var(--bg-dark);
  z-index: 1;
}

.title::before {
  content: '';
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--gold);
  z-index: 0;
}

@media (max-width: 1024px) {
  .title {
    padding-top: 20px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    max-width: 364px;
    margin: 0 auto 46px;
  }
  .title::before {
    top: 40px;
  }
}

button,
a,
svg,
p,
h1,
h2,
span {
  -webkit-transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  line-height: 50px;
  width: 100%;
  z-index: 2;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 0;
}

.header__icon {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 50px;
  height: 50px;
}

.header__icon svg {
  fill: var(--white);
}

.header__icon svg:hover {
  fill: var(--gold);
}

.header__nav {
  width: 500px;
  height: 50px;
}

.header__lang {
  height: 50px;
  width: 70px;
}

@media (max-width: 1024px) {
  .header__container {
    padding: 0 64px 0;
  }
  .header__icon {
    left: 60px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__lang {
    margin-right: 11.4%;
  }
}

.header__white-theme {
  color: var(--matte-black);
}

.header__white-theme .header__icon svg {
  fill: var(--matte-black);
}

.header__white-theme .header__icon svg:hover {
  fill: var(--white);
}

.header__white-theme a {
  color: var(--matte-black);
}

.header__white-theme a:hover {
  color: var(--white);
}

.header__white-theme .lang__lang:hover {
  color: var(--white);
}

.header__white-theme .lang__lang_active {
  color: var(--white);
}

.header-nav {
  width: 100%;
}

.header-nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-nav__link:hover {
  color: var(--gold);
}

.lang__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lang span {
  -webkit-transition: color 0.5s ease-in-out -0.1s;
  transition: color 0.5s ease-in-out -0.1s;
}

.lang__lang {
  cursor: pointer;
}

.lang__lang:hover {
  color: var(--gold);
}

.lang__lang_active {
  color: var(--gold);
}

.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg-dark);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.33s ease-in-out 0s;
  transition: opacity 0.33s ease-in-out 0s;
  pointer-events: none;
}

.shadow__show {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .burgermenu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin-top: 19px;
    margin-right: 8.4%;
  }
  .burgermenu__burger {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .burgermenu__menu {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 2px;
    background: var(--white);
    cursor: pointer;
    -webkit-transition: top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
    transition: top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
    transition: transform 0.33s ease-in-out 0s, top 0.33s ease-in-out 0s;
    transition: transform 0.33s ease-in-out 0s, top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
  }
  .burgermenu__menu::before {
    content: '';
    position: absolute;
    top: -12px;
    width: 50px;
    height: 2px;
    background: var(--white);
    -webkit-transition: top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
    transition: top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
    transition: transform 0.33s ease-in-out 0s, top 0.33s ease-in-out 0s;
    transition: transform 0.33s ease-in-out 0s, top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
  }
  .burgermenu__menu::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 50px;
    height: 2px;
    background: var(--white);
    -webkit-transition: top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
    transition: top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
    transition: transform 0.33s ease-in-out 0s, top 0.33s ease-in-out 0s;
    transition: transform 0.33s ease-in-out 0s, top 0.33s ease-in-out 0s, -webkit-transform 0.33s ease-in-out 0s;
  }
}

.burgermenu__cross {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burgermenu__cross::before {
  content: '';
  top: 0;
}

.burgermenu__cross::after {
  content: '';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

@media (max-width: 768px) {
  .burgermenu__white-theme .burgermenu__menu {
    background: var(--matte-black);
  }
  .burgermenu__white-theme .burgermenu__menu::before {
    background: var(--matte-black);
  }
  .burgermenu__white-theme .burgermenu__menu::after {
    background: var(--matte-black);
  }
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: block;
    pointer-events: none;
  }
  .burger__nav {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -100vw;
    max-width: 620px;
    width: 100%;
    height: 100%;
    background: var(--bg-dark);
    -webkit-transition: right 0.33s ease-in-out 0s, opacity 0.33s ease-in-out 0s;
    transition: right 0.33s ease-in-out 0s, opacity 0.33s ease-in-out 0s;
    opacity: 0;
    pointer-events: auto;
  }
  .burger__nav_show {
    right: 0;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .burger__white-theme .burger__nav {
    background: var(--white);
  }
  .burger__white-theme .burger__nav a {
    color: var(--matte-black);
  }
}

.body-hidden {
  overflow: hidden;
}

@media (max-width: 768px) {
  .burger-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20.5%;
    padding-left: 20.34%;
  }
  .burger-nav__link {
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.hero {
  position: relative;
  z-index: 1;
}

.hero__container {
  padding-top: 0;
  overflow: hidden;
}

.hero__wallpaper {
  position: relative;
  background: url("../assets/img/hero/wallpaper.jpg") 0 0/cover no-repeat;
  aspect-ratio: 1440 / 910;
  max-width: 1440px;
  max-height: 910px;
  margin: 0 -20px;
  -webkit-transition: background 0.5s ease-in-out 0s, -webkit-box-shadow 0.5s ease-in-out 0s;
  transition: background 0.5s ease-in-out 0s, -webkit-box-shadow 0.5s ease-in-out 0s;
  transition: box-shadow 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s;
  transition: box-shadow 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, -webkit-box-shadow 0.5s ease-in-out 0s;
}

@media (max-width: 767px) {
  .hero__wallpaper {
    background: url("../assets/img/hero/wallpaper.jpg") 50% 50%/cover no-repeat;
  }
}

.hero__column {
  position: relative;
  margin-left: 80px;
  padding-top: 250px;
  max-width: 480px;
  height: 580px;
}

.hero__title {
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
}

.hero__text {
  padding-top: 10px;
}

.hero__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 55px;
  background: var(--gold);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.hero__btn:hover {
  color: var(--white);
}

@media (max-width: 1024px) {
  .hero__wallpaper {
    aspect-ratio: 1440 / 1106;
    margin: -24px -30px 0 0;
    padding: 24px 30px 0 0;
  }
  .hero__column {
    position: relative;
    margin-left: 60px;
    padding-top: 168px;
    max-width: 390px;
    height: 538px;
  }
  .hero__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 64px;
  }
  .hero__text {
    padding-top: 20px;
    line-height: 24px;
  }
  .hero__btn {
    margin-bottom: 100px;
  }
}

.hero__white-theme {
  background: var(--white);
  color: var(--matte-black);
}

.hero__white-theme .hero__wallpaper {
  background: url("../assets/img/hero/white-wallpaper.jpg") 0 0/cover no-repeat;
  -webkit-box-shadow: 10px 0 15px 0 white inset, -10px 0 15px 0 white inset;
          box-shadow: 10px 0 15px 0 white inset, -10px 0 15px 0 white inset;
}

.hero__white-theme .hero__btn {
  background: var(--white);
}

.hero__white-theme .hero__btn:hover {
  background: var(--matte-black);
  color: var(--gold);
}

.hero__white-theme .bubbly-btn::before {
  background-image: radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--matte-black) 20%, transparent 30%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--matte-black) 15%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%);
}

.hero__white-theme .bubbly-btn::after {
  background-image: radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--matte-black) 15%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%);
}

.blackAndWhite {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: 2px solid var(--gold);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.blackAndWhite::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 14px;
  top: 14px;
  left: 0;
  background: var(--white);
  -webkit-transition: background 0.5s ease-in-out 0s;
  transition: background 0.5s ease-in-out 0s;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.blackAndWhite_black {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.blackAndWhite_black::before {
  background: var(--matte-black);
}

@media (max-width: 1024px) {
  .blackAndWhite {
    right: 90px;
  }
}

@media (max-width: 768px) {
  .blackAndWhite {
    right: 25px;
    margin-right: 8.4%;
  }
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.skills__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .skills__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-column-gap: 24px;
            column-gap: 24px;
    padding-bottom: 24px;
  }
}

.skills__white-theme {
  background: var(--white);
  color: var(--matte-black);
}

.skills__white-theme .skills__title h2 {
  background: var(--white);
  color: var(--matte-black);
}

.skills__white-theme .skills__title::before {
  background: var(--matte-black);
}

.skill {
  aspect-ratio: 320 / 240;
  max-width: 320px;
  max-height: 240px;
  text-align: center;
  padding: 0 20px 8px 20px;
}

.skill__img {
  height: 100px;
}

.skill__img svg {
  fill: var(--gold);
}

.skill__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.skill__text {
  font-size: 18px;
  line-height: 36px;
}

@media (max-width: 1024px) {
  .skill__img {
    height: 80px;
  }
  .skill__text {
    line-height: 21.78px;
  }
}

.portfolio__btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10px, 220px))[4];
      grid-template-columns: repeat(4, minmax(10px, 220px));
  -webkit-column-gap: 5px;
          column-gap: 5px;
  max-width: 935px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 60px;
}

.portfolio__btn {
  max-width: 220px;
  height: 55px;
  border: 2px solid var(--gold);
  background: var(--bg-dark);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--gold);
}

.portfolio__btn:hover {
  color: var(--white);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--gold);
          box-shadow: 0 0.5em 0.5em -0.4em var(--gold);
  -webkit-transform: translatey(-0.5em);
          transform: translatey(-0.5em);
}

.portfolio ._active {
  background: var(--gold);
  color: var(--bg-dark);
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--gold);
          box-shadow: 0 0.5em 0.5em -0.4em var(--gold);
  -webkit-transform: translatey(-0.5em);
          transform: translatey(-0.5em);
}

.portfolio ._active:hover {
  color: var(--white);
}

.portfolio ._activv {
  background: var(--gold);
  color: var(--bg-dark);
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--gold);
          box-shadow: 0 0.5em 0.5em -0.4em var(--gold);
  -webkit-transform: translatey(-0.5em);
          transform: translatey(-0.5em);
}

.portfolio ._activv:hover {
  color: var(--white);
}

.portfolio ._fade {
  -webkit-animation: opac 0.3s ease-in-out 1;
          animation: opac 0.3s ease-in-out 1;
}

@-webkit-keyframes opac {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes opac {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.portfolio__imgs {
  max-width: 1400px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 450px))[3];
      grid-template-columns: repeat(3, minmax(200px, 450px));
  gap: 25px;
}

.portfolio__img {
  max-width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

.portfolio__img:hover {
  position: relative;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio__img_1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media (max-width: 1024px) {
  .portfolio__title {
    margin-bottom: 50px;
  }
  .portfolio__btns {
    -ms-grid-columns: (minmax(110px, 220px))[2];
        grid-template-columns: repeat(2, minmax(110px, 220px));
    max-width: 485px;
    row-gap: 5px;
  }
  .portfolio__imgs {
    max-width: 490px;
    padding: 0 20px;
    -ms-grid-columns: (minmax(200px, 450px))[1];
        grid-template-columns: repeat(1, minmax(200px, 450px));
  }
  .portfolio__btn:nth-child(3n):hover, .portfolio__btn:nth-child(3n):focus, .portfolio__btn:nth-child(4n):hover, .portfolio__btn:nth-child(4n):focus {
    -webkit-box-shadow: 0 -0.5em 0.5em -0.4em var(--gold);
            box-shadow: 0 -0.5em 0.5em -0.4em var(--gold);
    -webkit-transform: translatey(0.5em);
            transform: translatey(0.5em);
  }
  .portfolio ._activv {
    -webkit-box-shadow: 0 -0.5em 0.5em -0.4em var(--gold);
            box-shadow: 0 -0.5em 0.5em -0.4em var(--gold);
    -webkit-transform: translatey(0.5em);
            transform: translatey(0.5em);
  }
}

.portfolio__white-theme {
  background: var(--white);
  color: var(--matte-black);
}

.portfolio__white-theme .portfolio__title h2 {
  background: var(--white);
  color: var(--matte-black);
}

.portfolio__white-theme .portfolio__title::before {
  background: var(--matte-black);
}

.portfolio__white-theme .portfolio__btn {
  background: var(--gold);
  color: var(--matte-black);
}

.portfolio__white-theme .portfolio__btn:hover {
  background: var(--matte-black);
  color: var(--gold);
}

.portfolio__white-theme ._active {
  background: var(--matte-black);
  color: var(--gold);
}

.portfolio__white-theme ._active:hover {
  color: var(--gold);
}

.portfolio__white-theme ._activv {
  background: var(--matte-black);
  color: var(--gold);
}

.portfolio__white-theme ._activv:hover {
  color: var(--gold);
}

.video__player {
  position: relative;
}

.video__temp-cover {
  width: 100%;
}

.video__big-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9.29%;
  background: none;
}

.video__big-play svg {
  fill: var(--white);
}

.video__big-play:hover svg {
  fill: var(--gold);
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

@media (max-width: 1024px) {
  .video__title {
    margin-bottom: 50px;
  }
  .video__temp-cover {
    aspect-ratio: 768 / 418;
    -o-object-position: left center;
       object-position: left center;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.video__white-theme {
  background: var(--white);
  color: var(--matte-black);
}

.video__white-theme .video__title h2 {
  background: var(--white);
  color: var(--matte-black);
}

.video__white-theme .video__title::before {
  background: var(--matte-black);
}

.price__container {
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .price__container {
    padding-bottom: 80px;
  }
  .price__title {
    margin-bottom: 50px;
  }
}

.price__white-theme {
  background: var(--white);
  color: var(--matte-black);
}

.price__white-theme .price__title h2 {
  background: var(--white);
  color: var(--matte-black);
}

.price__white-theme .price__title::before {
  background: var(--matte-black);
}

.price__white-theme .cards__btn {
  background: var(--gold);
  position: relative;
  z-index: 1;
}

.price__white-theme .cards__btn:hover {
  color: var(--gold);
  background: var(--matte-black);
}

.price__white-theme .cards__price {
  color: var(--matte-black);
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 450px))[3];
      grid-template-columns: repeat(3, minmax(240px, 450px));
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.cards__card {
  border: 3px solid var(--gold);
  padding: 40px 0;
  max-width: 450px;
}

.cards h3 {
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}

.cards__price {
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--gold);
  margin-bottom: 20px;
}

.cards__text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.cards__btn {
  margin: 0 auto;
  display: block;
  width: 220px;
  height: 55px;
  background: var(--gold);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.cards__btn:hover {
  color: var(--white);
}

.cards__btn span {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid var(--white);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-animation: animate 0.5s ease-in-out 1;
          animation: animate 0.5s ease-in-out 1;
  z-index: 2;
}

@-webkit-keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 440px;
    height: 440px;
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 440px;
    height: 440px;
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .cards {
    -ms-grid-columns: (minmax(240px, 420px))[1];
        grid-template-columns: repeat(1, minmax(240px, 420px));
    row-gap: 50px;
    max-width: 460px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .cards__card {
    max-width: 420px;
  }
}

.contacts__container {
  aspect-ratio: 1440 / 700;
  background: url("../assets/img/contact/contact.jpg") 48% 13% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 60px;
  -webkit-transition: background 0.5s ease-in-out 0s;
  transition: background 0.5s ease-in-out 0s;
}

@media (max-width: 767px) {
  .contacts__container {
    background: url("../assets/img/contact/contact.jpg") 26% 13%/cover no-repeat;
  }
}

.contacts__right-column {
  max-width: 450px;
  width: 100%;
  height: 445px;
}

.contacts__title {
  width: auto;
  text-align: left;
  margin: 0 auto 40px;
}

.contacts__title h2 {
  background: none;
  padding: 0;
}

.contacts__title::before {
  display: none;
}

@media (max-width: 1024px) {
  .contacts__container {
    aspect-ratio: 1440 / 1125;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
  }
  .contacts__title {
    text-align: center;
    margin: 0 auto 35px;
  }
  .contacts__right-column {
    max-width: 470px;
    height: 545px;
    padding: 0 10px 100px 10px;
  }
}

.contacts__white-theme {
  background: var(--white);
  color: var(--matte-black);
}

.contacts__white-theme .contacts__title h2 {
  color: var(--matte-black);
}

.contacts__white-theme .contacts__container {
  background: url("../assets/img/contact/white-contact.jpg") 48% 13% no-repeat;
}

.contacts__white-theme .contacts-form input,
.contacts__white-theme .contacts-form textarea {
  background: rgba(255, 255, 255, 0.5);
  color: var(--matte-black);
}

.contacts__white-theme .contacts-form input::-webkit-input-placeholder,
.contacts__white-theme .contacts-form textarea::-webkit-input-placeholder {
  color: var(--matte-black);
}

.contacts__white-theme .contacts-form button {
  background: var(--white);
}

.contacts__white-theme .contacts-form button:hover {
  color: var(--gold);
  background: var(--matte-black);
}

.contacts__white-theme .bubbly-btn::before {
  background-image: radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--matte-black) 20%, transparent 30%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--matte-black) 15%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%);
}

.contacts__white-theme .bubbly-btn::after {
  background-image: radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--matte-black) 15%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%), radial-gradient(circle, var(--matte-black) 20%, transparent 20%);
}

.contacts-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-form form input,
.contacts-form form textarea {
  border: 2px solid var(--gold);
  background: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  color: var(--gold);
}

.contacts-form form input::-webkit-input-placeholder,
.contacts-form form textarea::-webkit-input-placeholder {
  color: var(--gold);
}

.contacts-form form input {
  height: 50px;
  margin-bottom: 20px;
}

.contacts-form form textarea {
  height: 100px;
  margin-bottom: 30px;
}

.contacts-form form button {
  width: 220px;
  height: 55px;
  background: var(--gold);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.contacts-form form button:hover {
  color: var(--white);
}

@media (max-width: 1024px) {
  .contacts-form button {
    margin: 0 auto;
  }
}

.footer__container {
  padding-top: 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 168px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__year a:hover {
  color: var(--gold);
}

.footer__company a:hover {
  color: var(--gold);
}

@media (max-width: 1024px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer__year {
    padding-top: 20px;
  }
  .footer__company {
    padding-bottom: 20px;
  }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__white-theme {
  background: var(--white);
  color: var(--matte-black);
}

.footer__white-theme span,
.footer__white-theme a {
  color: var(--matte-black);
}

.footer__white-theme .social__link svg {
  fill: var(--matte-black);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 188px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
}

.social__link svg {
  fill: var(--white);
}

.social__link svg:hover {
  fill: var(--gold);
}

.bubbly-btn {
  -webkit-transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s, -webkit-transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s, -webkit-transform 0.5s ease-in-out 0s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s, -webkit-transform 0.5s ease-in-out 0s;
  -webkit-box-shadow: 0 2px 15px var(--gold);
          box-shadow: 0 2px 15px var(--gold);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.bubbly-btn::before, .bubbly-btn::after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-btn:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.bubbly-btn::before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--gold) 20%, transparent 30%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--gold) 15%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-btn::after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--gold) 15%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%), radial-gradient(circle, var(--gold) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: var(--gold);
  -webkit-box-shadow: 0 2px 25px rgba(189, 174, 130, 0.2);
          box-shadow: 0 2px 25px rgba(189, 174, 130, 0.2);
}

._bubbly::before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

._bubbly::after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
